
@model IEnumerable<ProductMainCategory>

<nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a asp-route="Index" class="navbar-brand">
            <img src="/Content/images/logo/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a asp-route="home" class="nav-link">
                        <i class="fa fa-home text-dark"></i>
                        Trang Chủ
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a asp-route="Product-List" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-first-order text-primary"></i>
                        Sản Phẩm
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in Model)
                        {
                            <li class="dropdown">
                                <a class="dropdown-item" asp-route="Product-List-main"
                                   asp-route-mid="@item.ProductMainCategoryID"
                                   asp-route-title="@item.Title">
                                    @item.Title
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var subitem in item.ProductCategory)
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-item" asp-route="Product-List-sub"
                                               asp-route-mid="@subitem.ProductMainCategoryID"
                                               asp-route-cid="@subitem.ProductCategoryID"
                                               asp-route-title="@subitem.Title">
                                                @subitem.Title
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-route="Acticle-List" class="nav-link">
                        <i class="fa fa-newspaper-o text-danger"></i>
                        Tin Tức
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-route="Contact" class="nav-link">
                        <i class="fa fa-volume-control-phone text-success"></i>
                        Liên Hệ
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a asp-route="Index" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="language language-english"></i>
                        English
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-route="Index" class="dropdown-item">
                                <i class="language language-vietnamese"></i>
                                Tiếng Việt
                            </a>
                        </li>
                        <li>
                            <a asp-route="Index" class="dropdown-item">
                                <i class="language language-english"></i>
                                English
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>